<div class="slds-card slds-white-card-temp">
	<img src="<%= asset_path('images/goal-home-purchase.png') %>" alt="dashboard" style="" />
</div>
<div class="slds-card slds-white-card-temp">
	<img src="<%= asset_path('images/goal-retirement.png') %>" alt="dashboard" style="" />
</div>
<div class="slds-card slds-white-card-temp">
	<img src="<%= asset_path('images/goal-education-fund.png') %>" alt="dashboard" style="" />
</div>