
<style>
  .tempSideNav{width:80vw; color:#fff;  } 
  .tempSideNav li:hover{background-color:transparent;}
  .menu-btn .slds-button__icon{fill:#009adc;;}
  body{background-color:#F7F9FB;}
</style>

<div class="slds-grid slds-grid--align-spread" style="position: fixed; height: 44pt; top: 0; width: 100%; z-index: 100; border-bottom:1px solid #d8dde6; background-color:#009adc;"> 
  <div class="slds-col--padded slds-align-middle slds-size--1-of-3">
    <button class="slds-button slds-button--icon-container menu-btn">
      <svg aria-hidden="true" class="slds-button__icon slds-icon--small" style="fill:#fff;">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
      </svg>
    </button>
  </div>
  <div class="slds-col--padded slds-align-middle slds-size--1-of-3 slds-text-align--center">
    <span class="slds-avatar slds-avatar--medium">
      <img src="/assets/images/Cumulus_logos/CumulusLogo_button_white.png" />
    </span>
  </div>
  <div class="slds-col--padded slds-align-middle slds-size--1-of-3 slds-text-align--right">
    <span class="slds-avatar slds-avatar--circle slds-avatar--small">
      <img src="/assets/images/Rachel.png" alt="person name" />
    </span>
  </div>
</div>
<div class="slds-grid content-container feed-container" style="margin-top:55pt;position:absolute; top:0; right:0; width:100vw; background-color:#F7F9FB">
  <div class="slds-col--padded slds-size--2-of-3 slds-container--center">
<!-- Tear Sheet -->
		  <div class="slds-tabs__content slds-show main-tab-content" role="tabpanel" id="main-tab-content-tearsheet">
		    <div class="slds">
		        <div class="slds-card">
		            
		            <section class="slds-p-top--x-large slds-card__body slds-theme--default">
		                <div class="slds-grid slds-grid--align-space">
		                    <div class="slds-col--padded slds-size--1-of-2">
		                        <h3 class="slds-text-heading--label">2014 PERFORMANCE</h3>
		                        <div class="slds-text-heading--medium slds-p-top--medium">
		                            <ul class="slds-list--horizontal">
		                                <li class="slds-list__item"><strong>8.18%</strong></li>
		                                <li class="slds-list__item slds-p-left--small">$223,126</li>
		                            </ul>	
		                        </div>
		                        <ul class="slds-m-top--large slds-list--vertical slds-has-dividers">
		                            <li class="slds-list__item slds-text-heading--label">Revenue</li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Relationship Profitability</p>
		                                    <p>$1,920,900.00</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Total Fees</p>
		                                    <p>$350,570.00</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Risk Profile</p>
		                                    <p>Good</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Loans Outstanding</p>
		                                    <p>$27,595,650.00</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Total Open Opportunity Amount</p>
		                                    <p>$8,500,000.00</p>
		                                </div>
		                            </li>
		                        </ul>
		                        <ul class="slds-m-top--x-large slds-list--vertical slds-has-dividers">
		                            <li class="slds-list__item slds-text-heading--label">GOALS</li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Cumulus Checking</p>
		                                    <p>$98,653</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Home Purchase</p>
		                                    <p>98%</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Retirement</p>
		                                    <p>45%</p>
		                                </div>
		                            </li>
		                            <li class="slds-list__item">
		                                <div class="slds-grid slds-list__item slds-p-vertical--x-small slds-grid--align-spread slds-has-flexi-truncate">
		                                    <p class="slds-tile__title slds-truncate">Education Plan</p>
		                                    <p>0%</p>
		                                </div>
		                            </li>
		                        </ul>
		                        <h3 class="slds-text-heading--label slds-m-top--x-large">OTHER TEAM/SPECIALISTS</h3>
		                        <div class="slds-grid">
		                            <div class="slds-col--padded slds-size--1-of-2">
		                                <div class="slds-media slds-tile">
		                                    <div class="slds-media__figure">
		                                        <span class="slds-avatar slds-avatar--circle slds-avatar--small">
		                                            <img src="/assets/images/avatar1.jpg" alt="portrait" />
		                                        </span>
		                                    </div>
		                                    <div class="slds-media__body">
		                                        <p class="slds-tile__title slds-truncate"><a href="#">Brad Lee</a></p>
		                                        <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
		                                            <li class="slds-truncate slds-list__item">Lead Relationship Manager</li>
		                                        </ul>
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="slds-col--padded slds-size--1-of-2">
		                                <div class="slds-media slds-tile">
		                                    <div class="slds-media__figure">
		                                        <span class="slds-avatar slds-avatar--circle slds-avatar--small">
		                                            <img src="/assets/images/avatar2.jpg" alt="portrait" />
		                                        </span>
		                                    </div>
		                                    <div class="slds-media__body">
		                                        <p class="slds-tile__title slds-truncate"><a href="#">Linda Miller</a></p>
		                                        <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
		                                            <li class="slds-truncate slds-list__item">Investment Officer</li>
		                                        </ul>
		                                    </div>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    
		                    <div class="slds-col--padded slds-size--1-of-2">
		                        <ul class="slds-list--vertical">
		                            <li class="slds-list__item">
		                                <h3 class="slds-text-heading--label">TOPICS + INTERESTS</h3>
		                            	<div class="slds-text-body--regular slds-m-top--small">Consumer Technology, Home Savings, Hotels, Tennis, Green Energy, Wine Connoisseur</div>
		                            </li>
		                            <li class="slds-p-top--medium slds-list__item">
		                                <h3 class="slds-text-heading--label">IMPORTANT NOTES</h3>
		                            	<div class="slds-text-body--regular slds-m-top--small">Remember to ask E*Trade details.  Rachel said she wanted to turn this over to us last time we met.</div>
		                            </li>
		                        </ul>
		                        <h3 class="slds-m-top--medium slds-text-heading--label">RECENT ACTIVITY</h3>
		                        <div class="slds-text-heading--medium">
		                            <ul class="slds-list--vertical">
		                                <li class="slds-p-top--medium slds-list__item">
		                                    <h3 class="slds-text-heading--label">March 4, 2015</h3>
		                                    <div class="slds-text-body--regular slds-m-top--small">Called about the status of his house purchase</div>
		                                    <div class="slds-text-body--regular slds-m-top--small">Things are looking good from a process perspective, but need to make sure allocations are on track.</div>
		                                </li>
		                                <li class="slds-p-top--medium slds-list__item">
		                                    <h3 class="slds-text-heading--label">December 4, 2014</h3>
		                                    <div class="slds-text-body--regular slds-m-top--small">Called about the status of his house purchase</div>
		                                </li>
		                            </ul>	
		                        </div>
		                        <h3 class="slds-m-top--medium slds-text-heading--label">OPEN CASES</h3>
		                        <div class="slds-text-heading--medium">
		                            <ul class="slds-list--vertical">
		                                <li class="slds-p-top--medium slds-list__item">
		                                    <h3 class="slds-text-heading--label">March 4, 2015</h3>
		                                    <div class="slds-text-body--regular slds-m-top--small">Called about the status of his house purchase</div>
		                                    <div class="slds-text-body--regular slds-m-top--small">Things are looking good from a process perspective, but need to make sure allocations are on track.</div>
		                                </li>
		                                <li class="slds-p-top--medium slds-list__item">
		                                    <h3 class="slds-text-heading--label">December 4, 2014</h3>
		                                    <div class="slds-text-body--regular slds-m-top--small">Called about the status of his house purchase</div>
		                                </li>
		                            </ul>	
		                        </div>
		                    </div>
		                </div>
		            </section>
		            <section class="slds-card__body slds-col-rule--top">
		                <div class="slds-grid slds-grid--align-space">
		                    <div class="slds-col--padded slds-size--1-of-2">
								<div class="slds-grid slds-grid--align-center slds-p-vertical--medium">
									<div>
		                            	<img src="/assets/images/map.png" />
		                            </div>
		                        </div>
		                    </div>
		                    <div class="slds-col--padded slds-size--1-of-2">
								<h3 class="slds-m-top--medium slds-text-heading--label">OBJECTIVES</h3>
		                        <div class="slds-text-heading--medium">
		                            <ul class="slds-list--vertical">
		                                <li class="slds-p-top--x-small slds-list__item">
		                               		<div class="slds-text-body--regular">Advice on stock allocation &amp; upsell around Goals pertaining to the household.</div>
		                                </li>
		                                <li class="slds-p-top--medium slds-list__item">
		                                    <div class="slds-text-body--regular">See if Rachel is ready to use our recommended accountant (she requested this last time we spoke).</div>
		                                </li>
		                            </ul>	
		                        </div>
		                        <h3 class="slds-m-top--medium slds-text-heading--label">EXPECTATIONS</h3>
		                        <div class="slds-text-heading--medium">
		                            <ul class="slds-list--vertical">
		                                <li class="slds-p-top--x-small slds-list__item">
		                               		<div class="slds-text-body--regular">Understand the current state of investments &amp; learn why her portfolio is performing so well</div>
		                                </li>
		                                <li class="slds-p-top--medium slds-list__item">
		                                    <div class="slds-text-body--regular">She wants to know how she is progressing toward her home savings goal.</div>
		                                </li>
		                            </ul>	
		                        </div>
		                        <h3 class="slds-m-top--medium slds-text-heading--label">NEXT STEPS</h3>
		                        <div class="slds-text-heading--medium">
		                            <ul class="slds-m-top--x-small slds-list--vertical slds-list--dotted ">
		                                <li class="slds-list__item">
		                                	<div class="slds-text-body--small">Confirm new stock investment area</div>
		                                </li>
		                                <li class="slds-list__item">
		                                	<div class="slds-text-body--small">Initiate any transfers for new stocks</div>
		                                </li>
		                                <li class="slds-list__item">
		                                	<div class="slds-text-body--small">Confirm handover of E*Trade securities</div>
		                                </li>
		                                <li class="slds-list__item">
		                                	<div class="slds-text-body--small">Book next meeting time and date</div>
		                                </li>
		                            </ul>	
		                        </div>
		                    </div>
		                </div>
		            </section>
		            <footer class="slds-card__footer"></footer>
		        </div>
		    </div>
		  </div>
		  <!-- End Tear Sheet -->
  </div>

<!-- Side Content -->
	<div class="slds-col--padded slds-size--1-of-3">
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/avatar1.jpg" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">Brad Lee</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">September 2, 2015 at 12:11 PM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">Congratulations @RADdesigns! Your loan has been approved!</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/avatar2.jpg" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">Linda Miller</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">August 18, 2015 at 2:23 PM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">Hey @RADdesigns, just letting you know your loan application is in the final stage of the process.</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/Rachel.png" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">RADdesigns</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">August 17, 2015 at 9:14 AM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">@Brad Lee, what's the status of our loan application?</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/Rachel.png" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">RADdesigns</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">August 17, 2015 at 9:14 AM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">@Brad Lee, what's the status of our loan application?</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
	</div>

</div>
  


<div class="slds-grid content-container life-container" style="margin-top:55pt; position:absolute; top:0; right:0; width:100vw; display:none;">
  <div class="slds-col--padded slds-size--1-of-1 slds-container--center">
    <div class="slds-card slds-card--white-bg" >
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-team-member">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#team_member"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">Family Members (4)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-85">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom85"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">House (1)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-38">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom54"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">Retirement Accounts (3)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-24">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom24"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">New Business (0)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-14">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom14"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">New Job</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-5">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom51"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">College Savings (2)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="menu" style="position:absolute; top:0; left:0; width:85vw; height:100vh;z-index:102; display:none; background-color:#009adc;">
      <ul class="tempSideNav slds-text-heading--small">
        <li class="menu-btn">
            <span class="slds-icon__container" style="padding-left:.3rem; padding-top:.2rem;">
              <svg aria-hidden="true" class="slds-icon slds-icon--small">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
              </svg>
            </span>
        </li>
        <li id="feed-item">
          <div class="slds-align-middle">
            <span class="slds-icon__container ">
              <svg aria-hidden="true" class="slds-icon">
                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#feed"></use>
              </svg>
            </span>
            <span>Feed</span>
          </div>
        </li>
        <li id="life-item">
            <span class="slds-icon__container ">
              <svg aria-hidden="true" class="slds-icon">
                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#reward"></use>
              </svg>
            </span>
            Life
        </li>
      </ul>
</div>
<script>
$(document).ready(function(){
  $('.menu-btn').click(function() {
      //$(this).animate({width:'hide'},150);
      $('#menu').animate({width:'toggle'},150);
    });
  $('#feed-item').click(function() {
      $('.content-container').hide();
      $('.feed-container').animate({width:'show'},150);
      $('#menu').animate({width:'toggle'},150);
    });
  $('#life-item').click(function() {
    $('.content-container').hide();
    $('.life-container').animate({width:'show'},150);
    $('#menu').animate({width:'toggle'},150);
  });
})
</script>