
<style>
  .tempSideNav{width:80vw; color:#fff;  } 
  .tempSideNav li:hover{background-color:transparent;}
  .menu-btn .slds-button__icon{fill:#009adc;;}
  body{background-color:#F7F9FB;}
</style>

<div class="slds-grid slds-grid--align-spread" style="position: fixed; height: 44pt; top: 0; width: 100%; z-index: 100; border-bottom:1px solid #d8dde6; background-color:#009adc;"> 
  <div class="slds-col--padded slds-align-middle slds-size--1-of-3">
    <button class="slds-button slds-button--icon-container menu-btn">
      <svg aria-hidden="true" class="slds-button__icon slds-icon--small" style="fill:#fff;">
        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
      </svg>
    </button>
  </div>
  <div class="slds-col--padded slds-align-middle slds-size--1-of-3 slds-text-align--center">
    <span class="slds-avatar slds-avatar--medium">
      <img src="/assets/images/Cumulus_logos/CumulusLogo_button_white.png" />
    </span>
  </div>
  <div class="slds-col--padded slds-align-middle slds-size--1-of-3 slds-text-align--right">
    <span class="slds-avatar slds-avatar--circle slds-avatar--small">
      <img src="/assets/images/Rachel.png" alt="person name" />
    </span>
  </div>
</div>
<div class="slds-grid content-container feed-container" style="margin-top:55pt;position:absolute; top:0; right:0; width:100vw; background-color:#F7F9FB">
  <div class="slds-col--padded slds-size--2-of-3 slds-container--center">
<!-- Tear Sheet -->
	  <div class ="slds-card slds-card--white-bg slds-p-top--small slds-p-bottom--small">
	  	<img src="<%= asset_path('community-accounts.png') %>" alt="Account Summary"  />
	  </div>
	  <div class ="slds-card slds-card--white-bg slds-p-top--small slds-p-bottom--small">
	  	<img src="<%= asset_path('community-loans.png') %>" alt="Account Summary"  />
	  </div>
  </div>

<!-- Side Content -->
	<div class="slds-col--padded slds-size--1-of-3">
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/Brad.jpg" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">Brad Lee</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">Today, 2015 at 9:30 AM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">Congratulations @RAD Designs! Your loan has been approved!</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/Linda.png" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">Linda Miller</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">August 18, 2015 at 2:23 PM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">Hey @RAD Designs, just letting you know your loan application is in the final stage of the process.</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
<!-- Begin Feed Item -->
    <div class="slds-p-bottom--large slds-m-bottom--large" style="border-bottom:1px solid #d8dde6;">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <span class="slds-avatar slds-avatar--circle slds-avatar--small">
            <img src="/assets/images/Rachel.png" alt="portrait" />
          </span>
        </div>
        <div class="slds-media__body">
          <p class="slds-tile__title slds-truncate"><a href="#">RAD Designs</a></p>
          <ul class="slds-tile__detail slds-list--horizontal slds-has-dividers slds-text-body--small">
            <li class="slds-truncate slds-list__item">August 17, 2015 at 9:14 AM</li>
          </ul>
        </div>
      </div>
      <div class="slds-card slds-card--empty slds-assistant-card-temp slds-m-top--small slds-p-around--small">
        <div class="slds-form-element">
          <div class="slds-form-element__control">
            <span class="">@Brad Lee, what's the status of our loan application?</span>
          </div>
        </div>
      </div>
      <div>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-icon--x-small">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like"></use>
            </svg>
          </span>
        </button>
        <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
          <span class="slds-text-not-selected">
            <svg aria-hidden="true" class="slds-button__icon--stateful slds-button__icon--left">
              <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
            </svg> Comment
          </span>
        </button>
      </div>
    </div>
<!-- End Feed Item -->
	</div>
</div>
  


<div class="slds-grid content-container life-container" style="margin-top:55pt; position:absolute; top:0; right:0; width:100vw; display:none;">
  <div class="slds-col--padded slds-size--1-of-1 slds-container--center">
    <div class="slds-card slds-card--white-bg" >
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-standard-team-member">
            <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#team_member"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">Family Members (4)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-85">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom85"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">House (1)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-38">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom54"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">Retirement Accounts (3)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-24">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom24"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">New Business (0)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-14">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom14"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">New Job</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-card slds-card--white-bg">
      <div class="slds-media slds-tile">
        <div class="slds-media__figure">
          <svg aria-hidden="true" class="slds-icon slds-icon--large slds-icon-custom-5">
            <use xlink:href="/assets/icons/custom-sprite/svg/symbols.svg#custom51"></use>
          </svg>
        </div>
        <div class="slds-media__body">
          <div class="slds-grid slds-grid--align-spread slds-has-flexi-truncate" style="height:3rem;">
            <div class="slds-align-middle">
              <p class="slds-tile__title slds-truncate"><a href="#">College Savings (2)</a></p>
            </div>
            <div class="slds-align-middle">
              <button class="slds-button slds-button--neutral slds-not-selected" aria-live="assertive">
                <svg aria-hidden="true" class="slds-button__icon--stateful">
                  <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="menu" style="position:absolute; top:0; left:0; width:85vw; height:100vh;z-index:102; display:none; background-color:#009adc;">
      <ul class="tempSideNav slds-text-heading--small">
        <li class="menu-btn">
            <span class="slds-icon__container" style="padding-left:.3rem; padding-top:.2rem;">
              <svg aria-hidden="true" class="slds-icon slds-icon--small">
                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#rows"></use>
              </svg>
            </span>
        </li>
        <li id="feed-item">
          <div class="slds-align-middle">
            <span class="slds-icon__container ">
              <svg aria-hidden="true" class="slds-icon">
                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#feed"></use>
              </svg>
            </span>
            <span>Feed</span>
          </div>
        </li>
        <li id="life-item">
            <span class="slds-icon__container ">
              <svg aria-hidden="true" class="slds-icon">
                <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#reward"></use>
              </svg>
            </span>
            Life
        </li>
      </ul>
</div>
<script>
$(document).ready(function(){
  $('.menu-btn').click(function() {
      //$(this).animate({width:'hide'},150);
      $('#menu').animate({width:'toggle'},150);
    });
  $('#feed-item').click(function() {
      $('.content-container').hide();
      $('.feed-container').animate({width:'show'},150);
      $('#menu').animate({width:'toggle'},150);
    });
  $('#life-item').click(function() {
    $('.content-container').hide();
    $('.life-container').animate({width:'show'},150);
    $('#menu').animate({width:'toggle'},150);
  });
})
</script>